# Set default editor and visual editor
export EDITOR=vim
export VISUAL="zed --wait"

# Increase Bash history size. Allow 32³ entries; default is 500.
export HISTSIZE='32768'
export HISTFILESIZE="${HISTSIZE}"

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth'

# Avoid issues with `gpg` as installed via Homebrew. https://stackoverflow.com/a/42265848/96656
export GPG_TTY="$(tty)"

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING=1

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X'

# Highlighting inside manpages and elsewhere
export LESS_TERMCAP_md="$(printf '\e[01;34m')" # Enter double-bright mode – bold, blue
export LESS_TERMCAP_me="$(printf '\e[0m')"     # Turn off all appearance modes
export LESS_TERMCAP_se="$(printf '\e[0m')"     # Leave standout mode
export LESS_TERMCAP_so="$(printf '\e[01;33m')" # Enter standout mode – yellow
export LESS_TERMCAP_ue="$(printf '\e[0m')"     # Leave underline mode
export LESS_TERMCAP_us="$(printf '\e[04;32m')" # Enter underline mode – green
