#!/usr/bin/env bash

# easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"

# shortcuts
alias dl="cd ~/Downloads"
alias dm="cd ~/Documents"
alias dt="cd ~/Desktop"
alias p="cd ~/Projects"

# git
alias g="git"
alias gst="git status"
alias gad="git add"
alias grt="git reset"
alias grr="git restore"
alias gco="git commit"
alias gpl="git pull"
alias gps="git push"
alias gpsf="git push --force"
alias gbr="git branch"
alias gch="git checkout"

# open file in default editor
alias edr="$EDITOR"

# open file in default visual editor
alias vedr="$VISUAL"

# actually clear terminal
alias cls="clear && printf '\e[3J'"

# ls with eza (color auto, list folders first, display type indicators by file name, )
alias ls='eza --color=auto --icons=always --group-directories-first --classify=auto --sort=extension -A'

# ls -la with eza (color auto, list folders first, permissions in octal format, supress permissions field)
alias la='eza --color=auto --icons=always --group-directories-first --classify=auto --sort=extension -a -l --octal-permissions --no-permissions'

# enable aliases to be sudo’ed
alias sudo='sudo '

# get macOS Software Updates, and update Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g;'

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum >/dev/null || alias sha1sum="shasum"

# recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
